*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(241, 236, 230);
  margin-top: 8vmin;
  overflow: hidden;
}
#root{
  width: 43vmin;
  box-shadow: 0 0 11px rgba(33,33,33,.5); 
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(195, 245, 228);
  margin: auto;
  position: relative;
  overflow: hidden;
}
input{
  border: none;
  margin-top: 23px;
  border-radius: 25px;
  padding: 8px 20px;
  width:70%;
  outline: none;
  font-size: 20px;
  margin-bottom: 10vmin;
  text-align: center;
}
.city{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6vmin;
}
.city img{
  width: 3.3vmin;
}
.city h1{
  font-size: 4.4vmin;
}
.temp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.2vmin;
}
.temp h2{
  font-size: 3.2vmin;
}
.span{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
span{
  padding: 0px 12px;
  margin-bottom: 9vmin;
}
.min,.max{
  display: flex;
  align-items: center;
}
.min img{
  width: 2vmin;
}
.max img{
  width: 2vmin;
}
.box{
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
}
.box11{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 33px;
}
.box2{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 6px;
}
.box1{
  margin-right: 30px;
}
.feel{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -20px;
}
.humidity{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -22px;
}
.ocean { 
  height: 0%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #137591;
}
.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -70px;
  width: 6400px;
  height: 198px;
  animation: wave 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 6s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
.type{
  margin-top: 27px;
}
.wind{
  display: flex;
  align-items: center;
}
.pressure{
  display: flex;
  align-items: center;
}
.type{
  display: flex;
  align-items: center;
}
